<div id="product_list" class="span24">
  <input onclick="addProductRow('','','');" type="button" value="Add product" />
</div>

<script>

var availableTags = [
<%=raw @products.map { |product| "\"#{product.name}\"" }.join(', ') if @products  %>
];

var products_id_map = {
<%=raw @products.map { |product| "\"#{product.name}\": \"#{product.id}\"" }.join(', ') if @products %>
};

function autocomplete_init () {

$( ".auto" ).autocomplete(
{source: availableTags},
"option", { messages: false });
}

function validate_product(product_num) {
var product_name = jQuery("#recipe_products_attributes_" + product_num + "_name").val();
jQuery("#recipe_products_attributes_"+ product_num +"_products_for_recipe_product_id").val(products_id_map[product_name]);
}

var product_num = 0;
function addProductRow(product_name, quantity, product_id) {
product_num ++;

var row = '<div id="product_'+product_num+'"> ' + 
 ' ' +
 '<label for="recipe_products_attributes_'+ product_num +'_product">Product</label> <br> ' +	
 '<input class="auto" id="recipe_products_attributes_'+ product_num +'_name" name="recipe[products_attributes]['+ product_num +'][name]" onchange="validate_product('+ product_num +');" type="text" value="'+ product_name +'" /> '+ 
	'' +
    '<input id="recipe_products_attributes_' + product_num + '_products_for_recipe_quantity" name="recipe[products_attributes][' +product_num + '][products_for_recipe][quantity]" type="date" value="'+ quantity +'"  />' +
    '<input id="recipe_products_attributes_' + product_num + '_products_for_recipe_product_id" name="recipe[products_attributes][' + product_num + '][products_for_recipe][product_id]" type="text" value="'+ product_id +'" />' +
    ''+
 ' ' + 
 '<input type="button" value="Delete" onclick="removeProductRow(' + product_num + ');"></input> ' +
' </div>';

jQuery('#product_list').append(row);
autocomplete_init();
}

function removeProductRow(product_num) {
jQuery("#product_"+ product_num).remove();
}

<% if @products_for_recipe  %>
  <%  @products_for_recipe.each  do |rp| %>
  <%=raw "addProductRow('#{rp.product.name}','#{rp.quantity}','#{rp.product_id}');" %>
  <% end %>
<% end %>
</script>


