/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *
 */

.container {
  background-color: #ffffaa;
  background-repeat: repeat-y;
  margin-bottom: 20px;
  margin-top: 20px;
}

.recipe, .product{
  background-color: #333333;
}

.recipe_name, .product_name{
font-size:large;
float: top;
}
.product_description, .recipe_description
{
font-size:x-small;
}

.product_list {
background-color: #faabaa;
}
