// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  background-color: #ffffaa;
  background-repeat: repeat-y;
  margin-bottom: 20px;
  margin-top: 20px;
}

.recipe {
  background-color: #333333;
}

.recipe_name {
font-size:large;
float: top;
}
.recipe_description
{
font-size:x-small;
}

.product_list {
background-color: #faabaa;
}
